{% extends "base.html" %}
{% block title %} - Download File{% endblock %}

{% block content %}

<h1>Download Any Mark Scheme or Question Paper</h1>

{% if error %}
<p style="color: red;"><strong>{{ error }}</strong></p>
{% endif %}

<form method="POST">
    <label for="subjectName">Subject Name:</label>
    <br>
    <input type="text" name="subjectName" id="subjectName" placeholder="Physics" required>
    <br><br>
    <label for="subjectCode">Subject Code:</label>
    <br>
    <input type="number" name="subjectCode" id="subjectCode" placeholder="5054" required>
    <br><br>
    <label for="examinationYear">Examination Year:</label>
    <br>
    <input type="number" name="examinationYear" id="examinationYear" placeholder="2025" required>
    <br><br>
    <label for="examinationSeries">Examination Series:</label>
    <br>
    <select name="examinationSeries" id="examinationSeries">
        <option value="may-june">May/June</option>
        <option value="oct-nov">October/November</option>
    </select><br><br>

    <label for="variant">Variant:</label><br>
    <input type="number" name="variant" value="11" required id="variant"><br><br>

    <label for="fileType">File Type:</label><br>
    <select name="fileType" id="fileType">
        <option value="qp">Question Paper</option>
        <option value="ms">Mark Scheme</option>
    </select>
    <br>
    <br>

    <button type="submit">Download File!</button>
</form>

{% endblock %}